[Desktop Entry]
Name=tome
Comment=Troubles of Middle Earth
Comment[pl]=Kłopoty śródziemia
Icon=tome.png
Exec=tome
Terminal=1
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
