[Desktop Entry]
Name=tome
Comment=Troubles of Middle Earth
Comment[pl]=Kłopoty śródziemia
Icon=tome
Exec=tome
Terminal=true
Type=Application
Categories=ConsoleOnly;Game;RolePlaying;
# vi: encoding=utf-8
